[
  {
    "name": "Original testapi.c",
    "include": "tis_common_config.json",
    "files": [
      "testapi.c"
    ],
    "val-printf-show-too-many-args": false,
    "safe-arrays": false,
    "val-stop-at-nth-alarm": 5,
    "val-warn-harmless-function-pointers": false,
    "val-warn-undefined-pointer-comparison": "none"
  },
  {
    "name": "Original testchar.c",
    "include": "tis_common_config.json",
    "files": [
      "testchar.c"
    ]
  },
  {
    "name": "Original testHTML.c (no args)",
    "include": "tis_common_config.json",
    "files": [
      "testHTML.c"
    ]
  },
  {
    "name": "Original testOOM.c",
    "include": "tis_common_config.json",
    "files": [
      "testOOM.c"
    ]
  },
  {
    "name": "Original testrecurse.c",
    "include": "tis_common_config.json",
    "files": [
      "testrecurse.c"
    ]
  },
  {
    "name": "Original testSAX.c",
    "include": "tis_common_config.json",
    "files": [
      "testSAX.c"
    ]
  },
  {
    "name": "Original testAutomata.c",
    "include": "tis_common_config.json",
    "files": [
      "testAutomata.c"
    ]
  },
  {
    "name": "Original testdict.c",
    "include": "tis_common_config.json",
    "files": [
      "testdict.c"
    ]
  },
  {
    "name": "Original testlimits.c",
    "include": "tis_common_config.json",
    "files": [
      "testlimits.c"
    ]
  },
  {
    "name": "Original testOOMlib.c",
    "include": "tis_common_config.json",
    "files": [
      "testOOMlib.c"
    ]
  },
  {
    "name": "Original testRegexp.c",
    "include": "tis_common_config.json",
    "files": [
      "testRegexp.c"
    ]
  },
  {
    "name": "Original testSchemas.c",
    "include": "tis_common_config.json",
    "files": [
      "testSchemas.c"
    ]
  },
  {
    "name": "Original testURI.c",
    "include": "tis_common_config.json",
    "files": [
      "testURI.c"
    ]
  },
  {
    "name": "Original testC14N.c",
    "include": "tis_common_config.json",
    "files": [
      "testC14N.c"
    ]
  },
  {
    "name": "Original testdso.c",
    "include": "tis_common_config.json",
    "files": [
      "testdso.c"
    ]
  },
  {
    "name": "Original testModule.c",
    "include": "tis_common_config.json",
    "files": [
      "testModule.c"
    ]
  },
  {
    "name": "Original testReader.c",
    "include": "tis_common_config.json",
    "files": [
      "testReader.c"
    ]
  },
  {
    "name": "Original testRelax.c",
    "include": "tis_common_config.json",
    "files": [
      "testRelax.c"
    ]
  },
  {
    "name": "Original testThreads.c",
    "include": "tis_common_config.json",
    "files": [
      "testThreads.c"
    ]
  },
  {
    "name": "Original testXPath.c",
    "include": "tis_common_config.json",
    "files": [
      "testXPath.c"
    ]
  }
]
